<mat-card (click)="onClick()" *ngIf="diploma" class="card">
  <mat-card-header class="card__header">{{ diploma.name }}</mat-card-header>
  <mat-card-content>
    <iframe
      class="card__iframe"
      [src]="diploma.url | safe"
      frameBorder="0"
      scrolling="no"
    ></iframe>
  </mat-card-content>
  <mat-card-footer class="card__footer">
    <div class="card__footer-info">
      <mat-icon>schedule</mat-icon>
      <span>{{ diploma.hours }}</span>
    </div>
    <div class="card__footer-info">
      <mat-icon>verified</mat-icon>
      <span>{{ diploma.date_end }}</span>
    </div>
  </mat-card-footer>
</mat-card>
