.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    letter-spacing: 1px;
  }

  &__iframe {
    border-radius: 3px;
    height: 188px;
    pointer-events: none;
    max-width: 250px;
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
  }

  ::ng-deep {
    .mat-card-header-text {
      display: none;
    }
  }
}
