/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #fafafa;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

//scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
